# Arquivos compilados
*.o
*.a
*.exe

# Arquivos gerados por Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xcuserstate
**/xcuserdata/**
**/xcshareddata/**

# Arquivos de compilação do Swift Package Manager
.build/
*.xcresult

.DS_Store
**/logs/*.txt
**/logs/*.log
**/logs/config
**/logs/latest
Pkg/cache/
Pkg/*.dmg
Pkg/*.pkg
